<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>HEALTH ASSIST</title>
  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
      background-color:red;
    }
    .lead{
    color:black;
    }
  </style>
  <title>HEALTH ASSIST</title>
</head>

<body>
  {% include "hospital/navbar.html" %}
  <br><br>
  <center>
    <h3 class='alert alert-success' style="margin-bottom:0px; background-color:#221f1f; color:white;">About Us!</h3>
  </center>
  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px; background-color:#f9dcdc;">
    <h1 class="display-4">Hello</h1>
    <p class="lead">Dedicated to Diagnosis, Commited to Care.</p>
    <hr class="my-4">
    <p>Health Assist will facilitate the communication between the three intended user types; Doctors, Patients and System Admin overseeing and managing all operations of the system.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button" style="background-color:black;">HOME</a>
    </p>
  </div>
  {% include "hospital/footer.html" %}
</body>
</html>
