{% extends 'hospital/homebase.html' %}
{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px; background-color:#f9dcdc;">
  <h1 class="display-4" style="text-align:center;">Hello, Admin</h1>
  <p class="lead">Welcome to Health Assist.</p>
  <hr class="my-4">
  <p>Login with your registered credentials.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/adminlogin" role="button" style="background-color:black;">Login</a>
  </p>
</div>

{% endblock content %}
